.footer 
    .footer_logo 
        img(src="/img/logo-green.png" alt="National Tours Logo")
    ul.footer__nav 
        l1: a(href="#") About us  
        l1: a(href="#") Download apps
        l1: a(href="#") Become a guide
        l1: a(href="#") Carrers 
        l1: a(href="#") Contact 
    p.footer__copyright &copy; By Taimoor Mumtaz. All rights reserved.